In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
for idx, rows in data.iterrows():
    print(rows['PassengerId'])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891

In [7]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [1]:
from app.models import Titanic

In [4]:
from app import db
import pandas as pd

In [19]:
titanic = pd.read_sql_query(db.session.query(Titanic).statement, db.session.bind)

In [17]:
pd.read_sql_query(db.session.query(Titanic).filter(Titanic.Sex=='male').statement, db.session.bind)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,NaN,S
2,6.0,0.0,3.0,"Moran, Mr. James",male,NaN,0.0,0.0,330877,8.4583,NaN,Q
3,7.0,0.0,1.0,"McCarthy, Mr. Timothy J",male,54.0,0.0,0.0,17463,51.8625,E46,S
4,8.0,0.0,3.0,"Palsson, Master. Gosta Leonard",male,2.0,3.0,1.0,349909,21.0750,NaN,S
5,13.0,0.0,3.0,"Saundercock, Mr. William Henry",male,20.0,0.0,0.0,A/5. 2151,8.0500,NaN,S
6,14.0,0.0,3.0,"Andersson, Mr. Anders Johan",male,39.0,1.0,5.0,347082,31.2750,NaN,S
7,17.0,0.0,3.0,"Rice, Master. Eugene",male,2.0,4.0,1.0,382652,29.1250,NaN,Q
8,18.0,1.0,2.0,"Williams, Mr. Charles Eugene",male,NaN,0.0,0.0,244373,13.0000,NaN,S
9,21.0,0.0,2.0,"Fynney, Mr. Joseph J",male,35.0,0.0,0.0,239865,26.0000,NaN,S
10,22.0,1.0,2.0,"Beesley, Mr. Lawrence",male,34.0,0.0,0.0,248698,13.0000,D56,S
11,24.0,1.0,1.0,"Sloper, Mr. William Thompson",male,28.0,0.0,0.0,113788,35.5000,A6,S
12,27.0,0.0,3.0,"Emir, Mr. Farred Chehab",male,NaN,0.0,0.0,2631,7.2250,NaN,C
13,28.0,0.0,1.0,"Fortune, Mr. Charles Alexander",male,19.0,3.0,2.0,19950,263.0000,C23 C25 C27,S
14,30.0,0.0,3.0,"Todoroff, Mr. Lalio",male,NaN,0.0,0.0,349216,7.8958,NaN,S
15,31.0,0.0,1.0,"Uruchurtu, Don. Manuel E",male,40.0,0.0,0.0,PC 17601,27.7208,NaN,C
16,34.0,0.0,2.0,"Wheadon, Mr. Edward H",male,66.0,0.0,0.0,C.A. 24579,10.5000,NaN,S
17,35.0,0.0,1.0,"Meyer, Mr. Edgar Joseph",male,28.0,1.0,0.0,PC 17604,82.1708,NaN,C
18,36.0,0.0,1.0,"Holverson, Mr. Alexander Oskar",male,42.0,1.0,0.0,113789,52.0000,NaN,S
19,37.0,1.0,3.0,"Mamee, Mr. Hanna",male,NaN,0.0,0.0,2677,7.2292,NaN,C
20,38.0,0.0,3.0,"Cann, Mr. Ernest Charles",male,21.0,0.0,0.0,A./5. 2152,8.0500,NaN,S
21,43.0,0.0,3.0,"Kraeff, Mr. Theodor",male,NaN,0.0,0.0,349253,7.8958,NaN,C
22,46.0,0.0,3.0,"Rogers, Mr. William John",male,NaN,0.0,0.0,S.C./A.4. 23567,8.0500,NaN,S
23,47.0,0.0,3.0,"Lennon, Mr. Denis",male,NaN,1.0,0.0,370371,15.5000,NaN,Q
24,49.0,0.0,3.0,"Samaan, Mr. Youssef",male,NaN,2.0,0.0,2662,21.6792,NaN,C
25,51.0,0.0,3.0,"Panula, Master. Juha Niilo",male,7.0,4.0,1.0,3101295,39.6875,NaN,S
26,52.0,0.0,3.0,"Nosworthy, Mr. Richard Cater",male,21.0,0.0,0.0,A/4. 39886,7.8000,NaN,S
27,55.0,0.0,1.0,"Ostby, Mr. Engelhart Cornelius",male,65.0,0.0,1.0,113509,61.9792,B30,C
28,56.0,1.0,1.0,"Woolner, Mr. Hugh",male,NaN,0.0,0.0,19947,35.5000,C52,S
29,58.0,0.0,3.0,"Novel, Mr. Mansouer",male,28.5,0.0,0.0,2697,7.2292,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
547,841.0,0.0,3.0,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0.0,0.0,SOTON/O2 3101287,7.9250,NaN,S
548,842.0,0.0,2.0,"Mudd, Mr. Thomas Charles",male,16.0,0.0,0.0,S.O./P.P. 3,10.5000,NaN,S
549,844.0,0.0,3.0,"Lemberopolous, Mr. Peter L",male,34.5,0.0,0.0,2683,6.4375,NaN,C
550,845.0,0.0,3.0,"Culumovic, Mr. Jeso",male,17.0,0.0,0.0,315090,8.6625,NaN,S
551,846.0,0.0,3.0,"Abbing, Mr. Anthony",male,42.0,0.0,0.0,C.A. 5547,7.5500,NaN,S
552,847.0,0.0,3.0,"Sage, Mr. Douglas Bullen",male,NaN,8.0,2.0,CA. 2343,69.5500,NaN,S
553,848.0,0.0,3.0,"Markoff, Mr. Marin",male,35.0,0.0,0.0,349213,7.8958,NaN,C
554,849.0,0.0,2.0,"Harper, Rev. John",male,28.0,0.0,1.0,248727,33.0000,NaN,S
555,851.0,0.0,3.0,"Andersson, Master. Sigvard Harald Elias",male,4.0,4.0,2.0,347082,31.2750,NaN,S
556,852.0,0.0,3.0,"Svensson, Mr. Johan",male,74.0,0.0,0.0,347060,7.7750,NaN,S
557,858.0,1.0,1.0,"Daly, Mr. Peter Denis",male,51.0,0.0,0.0,113055,26.5500,E17,S
558,860.0,0.0,3.0,"Razi, Mr. Raihed",male,NaN,0.0,0.0,2629,7.2292,NaN,C
559,861.0,0.0,3.0,"Hansen, Mr. Claus Peter",male,41.0,2.0,0.0,350026,14.1083,NaN,S
560,862.0,0.0,2.0,"Giles, Mr. Frederick Edward",male,21.0,1.0,0.0,28134,11.5000,NaN,S
561,865.0,0.0,2.0,"Gill, Mr. John William",male,24.0,0.0,0.0,233866,13.0000,NaN,S
562,868.0,0.0,1.0,"Roebling, Mr. Washington Augustus II",male,31.0,0.0,0.0,PC 17590,50.4958,A24,S
563,869.0,0.0,3.0,"van Melkebeke, Mr. Philemon",male,NaN,0.0,0.0,345777,9.5000,NaN,S
564,870.0,1.0,3.0,"Johnson, Master. Harold Theodor",male,4.0,1.0,1.0,347742,11.1333,NaN,S
565,871.0,0.0,3.0,"Balkic, Mr. Cerin",male,26.0,0.0,0.0,349248,7.8958,NaN,S
566,873.0,0.0,1.0,"Carlsson, Mr. Frans Olof",male,33.0,0.0,0.0,695,5.0000,B51 B53 B55,S
567,874.0,0.0,3.0,"Vander Cruyssen, Mr. Victor",male,47.0,0.0,0.0,345765,9.0000,NaN,S
568,877.0,0.0,3.0,"Gustafsson, Mr. Alfred Ossian",male,20.0,0.0,0.0,7534,9.8458,NaN,S
569,878.0,0.0,3.0,"Petroff, Mr. Nedelio",male,19.0,0.0,0.0,349212,7.8958,NaN,S
570,879.0,0.0,3.0,"Laleff, Mr. Kristo",male,NaN,0.0,0.0,349217,7.8958,NaN,S
571,882.0,0.0,3.0,"Markun, Mr. Johann",male,33.0,0.0,0.0,349257,7.8958,NaN,S
572,884.0,0.0,2.0,"Banfield, Mr. Frederick James",male,28.0,0.0,0.0,C.A./SOTON 34068,10.5000,NaN,S
573,885.0,0.0,3.0,"Sutehall, Mr. Henry Jr",male,25.0,0.0,0.0,SOTON/OQ 392076,7.0500,NaN,S
574,887.0,0.0,2.0,"Montvila, Rev. Juozas",male,27.0,0.0,0.0,211536,13.0000,NaN,S
575,890.0,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0,0.0,0.0,111369,30.0000,C148,C
576,891.0,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0.0,370376,7.7500,NaN,Q

In [20]:
titanic.groupby(by=['Survived', 'Sex'])['PassengerId'].count()

Survived  Sex
0.0       female     81
          male      468
1.0       female    233
          male      109
Name: PassengerId, dtype: int64

In [32]:
df_group_survived = pd.DataFrame(titanic.groupby(by=['Survived', 'Sex'])['PassengerId'].count())

In [33]:
df_group_survived = df_group_survived.reset_index()
df_group_survived

   Survived     Sex  PassengerId
0       0.0  female           81
1       0.0    male          468
2       1.0  female          233
3       1.0    male          109

In [46]:
name1 = 'Not Survived'
x_trace1 = df_group_survived.loc[(df_group_survived['Survived']==0),['PassengerId']]
y_trace1 = df_group_survived.loc[(df_group_survived['Survived']==0),['Sex']]
x_trace1 = x_trace1.PassengerId.tolist()
y_trace1 = y_trace1.Sex.tolist()

name2 = 'Survived'
x_trace2 = df_group_survived.loc[(df_group_survived['Survived']==1),['PassengerId']]
y_trace2 = df_group_survived.loc[(df_group_survived['Survived']==1),['Sex']]
x_trace2 = x_trace2.PassengerId.tolist()
y_trace2 = y_trace2.Sex.tolist()

In [47]:
x_trace1, y_trace1

([81, 468], ['female', 'male'])